@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-normal {
    font-family: "inter-normal", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inter-heading {
    font-family: "inter-heading", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
}
::selection {
  /* color: #882727; */
  background: #5c5c5c;
}
::-moz-selection { /* Code for Firefox */
  /* color: #882727; */
  background: #5c5c5c;
}

*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    
    font-family: "inter-normal", sans-serif;

    /* overflow-y:hidden; */
}

ul, ol {
    margin: 5px 0px 5px 0px;
    list-style-position: inside;
    color: #e7e4e4;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}
li {
    line-height: 1.3;
}
p {
    color: #e7e4e4;
    margin: 4px 0 4px 0;
    line-height: 1.6;
}
a {
    color: #e7e4e4;
}
#app {
    display: flex;
    width: 100dvw;
    height: 97.5dvh;
    background-color: #1f1f1f;
}
#nav {
    padding-top: 5px;
}
#nav li {
    padding: 5px 0 5px 0;
}
#titlediv {
    padding: 0 0 10px 0;
    margin-top: 10px;
    border-bottom: #2b2b2b 2px solid;
}
#sidebar {
    margin: 8% 0 5% 5%;
    width: 23%;
    max-width: 268.25px;
    /* background-color: #333; */
}
#contentHeading {
    font-family: "inter-heading", sans-serif;
    font-size: 3rem;
    
}
#ham {
    display: none;
}
#heading {
    padding: 0 0 25px 0 ;
}
#mainContent {
    display: flex;
    flex-direction: column;
}
#subtitle {
    display: flex;
    flex-direction: row;
}
.subtitle-text {
    color:#999999;
}
.reading-time {
    margin-left: 10px;
    display: block;
}
.inline {
    display: inline;
    font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
    font-size: 1em;
    font-weight: 500;
    color: #e7e4e4;
    background-color: #444;
    border-radius: 4px;
    padding: 0.1em 0.4em;
    margin: 0 0.1em;
    vertical-align: baseline;
    box-decoration-break: clone;
    /* Remove any line-breaking or block-level properties */
}
blockquote {
    margin: 25px 0 25px 0;
    padding: 15px;
    border-left: #999999 5px solid;
    border-radius: 5px;
    color: #e7e4e4;
    background-color: #333;
}
hr {
    margin: 5px 0 20px 0;
    border: 0;
    height: 1px;
    background-color: #999999;
}
footer {
    /* margin-top: 20px; */
    height: 2.5dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 8px; */
    text-align: center;
    background-color: #1f1f1f;
    /* border-top: #2b2b2b 2px solid; */
    /* font-size: 1.2rem; */
}
footer a {
    color: #999999;
    padding: 5px;
    text-align: center;
}
footer p {
    color: #999999;
    padding-right: 5px;
}
h1 {
    font-family: "inter-heading", sans-serif;
    font-size: 2.6rem;
    color: #e7e4e4;
}
h2 {
    font-family: "inter-heading", sans-serif;
    font-size: 2.2rem;
    color: #e7e4e4;
    margin: 20px 0 10px 0;
}
h3, h4, h5, h6 {
    margin: 10px 0 10px 0;
    color: #e7e4e4;
}
main {
    margin: 5% 5% 0 0%;
    padding: 0 0 100px 100px;
    width: 80%;
    max-width: 1056px;
    overflow-y: scroll;
}
pre {
    margin: 25px 0 25px 0;
    border-radius: 5px;
}
img {
    max-width: 95%;
    margin: 15px;
    height: auto;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    #sidebar {
        display: none;
        width: 60%;
        padding-right: 5%;
        height: 90%;
        z-index: 5;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.9);
    }
    
    #ham {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
        background-color: rgba(31, 31, 31, 0.9);  
    }

    #sidebar::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: -2;
        background-color: rgba(31, 31, 31, 0.5);
    }
    
    #sidebar::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 31, 31, 0.9);
        z-index: -1;
    }
    #mainContent {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    main {
        width: 100dvw;
        height: 97.5dvh;
        padding: 5px 0px 100px 20px;
    }
    
}